body {
   
    align-items: center; 
    background-color: #4a4a49;
    color: #c7c7c3;
}

h1 {
    display:flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    font-size: 3em;
}

a {
    text-decoration: none;
    color: #c7c7c3;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    height: 5em;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    border-radius: 120px;
    text-align: center;
}

#semester {
    background-image: url(images/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#cumulative{
    background-image: url(images/background4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#increase {
    background-image: url(images/background3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
